<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
   <!-- 
   	      导入目标类
   	      导入切面
   	      进行aop的配置
    -->
   <bean id="personDao" class="com.shine.spring.aop.xml.PersonDaoImpl"></bean>
   <bean id="transaction" class="com.shine.spring.aop.xml.Transaction"></bean>
   <bean id="logger" class="com.shine.spring.aop.xml.Logger"></bean>
   
   <aop:config>
	   <!-- 
	   		切入点表达式
	   		 符合切入点表达式的类要产生代理对象
	   		 expression就是切入点表达式
	   		 id 标示符
	    -->
   		<aop:pointcut expression="execution(* com.shine.spring.aop.xml.PersonDaoImpl.* (..))" id="perform"/>
   		<!-- 
   			配置日志切面
   		 -->
   		<aop:aspect ref="logger">
   			<aop:before method="logging" pointcut-ref="perform"/>	
   		</aop:aspect>
   		
   		<!-- 
   			ref属性指向切面
   		 -->
   		<aop:aspect ref="transaction">
	   		<!-- 
	   			前置通知
	   				在目标方法执行之前调用
	   		 -->
   			<aop:before method="beginTransaction" pointcut-ref="perform"/>
   			<!-- 
   				后置通知
   			 -->
   			<aop:after-returning method="commit" pointcut-ref="perform"/>
   		</aop:aspect>
   		
   		
   </aop:config>
</beans>